<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-appaloosa" version="1.2.0">

    <name>Appaloosa</name>
    <description>Cordova Appaloosa Plugin</description>
    <license>The MIT License (MIT)</license>

    <keywords>cordova,appaloosa</keywords>
    <author>Appaloosa Team </author>

    <repo>https://github.com/appaloosa-store/cordova-appaloosa-plugin</repo>
    <issue>https://github.com/appaloosa-store/cordova-appaloosa-plugin/issues</issue>

    <js-module src="www/Appaloosa.js" name="Appaloosa">
        <clobbers target="Appaloosa"/>"
    </js-module>
	
	
	 <!-- ANDROID PLATFORM -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppaloosaPhonegap">
                <param name="android-package" value="com.appaloosa.cordova.plugin.AppaloosaPhonegap"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!--PERMISSIONS-->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <!-- CORDOVA SOURCE FILES -->
        <source-file src="src/android/AppaloosaPhonegap.java" target-dir="src/com/appaloosa/cordova/plugin" />
        <source-file src="src/android/ApplicationAuthorizationCustom.java" target-dir="src/com/appaloosa/cordova/plugin" />

        <!-- ADDTIONNAL LIBRAIRIES -->
		<framework src="src/android/appaloosa.gradle" custom="true" type="gradleReference" />

    </platform>

    <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="AppaloosaPhonegap">
        <param name="ios-package" value="AppaloosaPhonegap"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/AppaloosaPhonegap.h" />
    <source-file src="src/ios/AppaloosaPhonegap.m" />

    <resource-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/Info.plist" />

    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/BCCKeychain.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/BCCKeychain.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/MF_Base64Additions.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/MF_Base64Additions.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/NSString+MD5Addition.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/NSString+MD5Addition.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/Reachability.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/Reachability.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/UIDevice+IdentifierAddition.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/libs/UIDevice+IdentifierAddition.m" />
    
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/manager/OTAppaloosaAgent.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/manager/OTAppaloosaAgent.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/manager/OTAppaloosaAgentDelegate.h" />
    
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTAppaloosaApplication.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTAppaloosaApplication.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTAppaloosaConfigProperty.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTAppaloosaConfigProperty.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTApplicationAuthorization.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTApplicationAuthorization.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTApplicationUpdate.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/model/OTApplicationUpdate.m" />

    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/OTAppaloosa.h" />
    
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaService.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaService.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaSystemPropertyService.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaSystemPropertyService.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaUrlHelper.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/service/OTAppaloosaUrlHelper.m" />
    
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/NSString+URLEncoding.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/NSString+URLEncoding.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/OTAppaloosaUtils.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/OTAppaloosaUtils.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/UIColor+Appaloosa.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/UIColor+Appaloosa.m" />
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/UIViewController+CurrentPresentedController.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/utils/UIViewController+CurrentPresentedController.m" />
    
    <header-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/view/SSTextView.h" />
    <source-file src="libs/ios/OTAppaloosa/AppaloosaIosSDK/view/SSTextView.m" />

    </platform>
</plugin>
